.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(100% - 16px);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 968px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.noPaddingY {
    padding-top: 20px;
    padding-bottom: 20px;
}
