.link {
    background-color: rgba(255, 255, 255, 0.2);
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
    text-decoration: none; 
}

.link:hover {
    background-color: var(--stjames-pink);
}
