.title {
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    background-color: var(--stjames-cardbg);
    padding: 16px 25px;
    border-radius: 16px;
}

.itemTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.itemText {
    font-size: 15px;
    color: #CBD5E0
}

.contactUs {
    margin-top: 30px;
}

.contactUs>a {
    color: var(--stjames-yellow);
}