.contactContent {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    padding: 20px 0;
}

.col {
    flex: 1 1 0;
}

.contactContent h1 {
    margin-bottom: 20px;
}

.contactDetails {
    background-color: var(--stjames-cardbg);
    padding: 25px 30px;
    border-radius: 10px;
    max-width: 600px;
}

.contactItem {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.contactItemIcon {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.contactItemTitle {
    font-weight: 600;
    font-size: 20px;
}

.socialLinks {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.map {
    border: 0;
    width: 100%;
    height: 350px;
}

.contactForm {
    background-color: var(--stjames-cardbg);
    padding: 25px 30px;
    border-radius: 10px;
    max-width: 600px;
}

.contactSubmitButton {
    background-color: white;
    border-color: white;
    color: black;
}

.contactSubmitButton:hover {
    background-color: color-mix(in srgb, var(--stjames-purple), black 30%);
    border-color: color-mix(in srgb, var(--stjames-purple), black 30%);
}

.contactSubtitle {
    margin-bottom: 5px;
    margin-top: 5px;
}

.field {
    margin-bottom: 20px;
}

.fieldLabel {
    margin-bottom: 5px;
}

.fieldHint {
    margin-top: 5px;
    opacity: 0.5;
    font-size: 12px;
}

.input {
    width: 100%;
    background: none;
    border: 1px solid #626161;
    border-radius: 6px;
    color: white;
    padding: 5px 10px;
}

input.input {
    height: 40px;
}

@media screen and (max-width: 768px) {
    .contactContent {
        flex-direction: column;
    }

    .contactDetails {
        padding: 25px 15px;
    }

    .contactItemTitle {
        font-size: 16px;
    }

    .map {
        display: none;
    }

    .contactForm {
        padding: 25px 18px;
    }
}

.button {
    background: none;
    border: 1px solid #838383;
    color: white;
    font-size: 20px;
    padding: 4px 20px;
}

.button:hover {
    background-color: var(--stjames-purple);
    border-color: var(--stjames-purple);
    cursor: pointer;
    color: white;
}

.formError {
    background-color: #991515;
    color: white;
}

.formSuccess {
    background-color: #077c07;
    color: white;
}

.banner {
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.youAreBooking {
    margin-bottom: 20px;
    color: var(--stjames-yellow);
}

.formDetailsHeading {
    color: #a7a6a6;
    padding-right: 26px;
}

.formDetails {
    font-size: 14px;
}

.contactYouText {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--stjames-yellow);
}

.cashWarning {
    background-color: rgb(122, 30, 30);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 25px;
}