.card {
    width: 242px;
    height: 343px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    position: relative;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}

.info {
    position: absolute;
    width: 242px;
    height: 343px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    opacity: 0;
    transition: linear 0.3s;
}

.info:hover {
    opacity: 1;
    cursor: pointer;
}

.title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.date {
    font-weight: 200;
}

@media screen and (max-width: 768px) {
    .card,
    .info {
        width: 200px;
        height: 301px;
    }
}