.datePicker {
    margin-bottom: 20px;
}

.dateHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

.calendarDayLabel {
    text-align: center;
    font-weight: 600;
    opacity: 0.6;
}

.calendarDay {
    height: 38px;
    border-radius: 6px;
    border: 1px solid #626161;
    background: none;
    color: white;
}

.available:hover {
    background-color: var(--stjames-purple);
    cursor: pointer;
}

.disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.selected {
    background-color: white;
    color: black;
    border-color: white;
}

.button {
    background: none;
    border: 1px solid #838383;
    color: white;
    font-size: 18px;
    padding: 1px 10px;
}

.button:hover {
    background-color: var(--stjames-purple);
    border-color: var(--stjames-purple);
    cursor: pointer;
    color: white;
}
