.hero {
    position: relative;
    min-height: 500px;
    padding-top: 120px;
    padding-bottom: 60px;

    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0) 90%, black 100%), 
        url(/images/happy-hour-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content h1 { 
    margin-bottom: 10px;
}

.summary {
    margin-bottom: 20px;
}

.header {
    margin-bottom: 30px;
}

.images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image {
    height: 300px;
    width: 300px;
}

.disclaimer {
    margin-top: 30px;
    color: #b4b1b1;
    font-size: 14px;
}

.disclaimer a {
    color: #b4b1b1;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .image {
        width: 100%;
        height: auto;
    }
}